<form>
  <mat-form-field class="example-full-width">
    <mat-label>Parrocchiano</mat-label>
    <input type="text" matInput [formControl]="parishionerToAddForm" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let partecipant of filteredParishioners | async" [value]="partecipant">
          {{partecipant.parishioner.name}} {{partecipant.parishioner.surname}}, {{partecipant.parishioner.dataNascita | date: 'dd-MM-yyyy HH:mm'}}
        </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-raised-button type="submit">Aggiungi parrocchiano  all'incontro</button>
</form>