<h2 class="title">Dati Gruppo</h2>
<br>
<div fxLayout="row" fxLayoutAlign="space-around">

  <div fxLayout="column" fxLayoutGap="32px">
    <h3 class="title">TABELLA NON MEMBRI</h3>
    <div class="container">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort #sort>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-row"> Nome </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-row"> Cognome </th>
            <td mat-cell *matCellDef="let row"> {{row.surname}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row); selection.toggle(row)"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-cell-no-hover" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
        </table>

        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

    </div>
  </div>
  <div fxLayout="column" fxLayoutGap ="32px">

    <h3 class="title">TABELLA MEMBRI</h3>
    <div class="container" >
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilterForNotMembers($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceForNotMembers" matSort #sortForNotMembers>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-row"> Nome </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-row"> Cognome </th>
            <td mat-cell *matCellDef="let row"> {{row.surname}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumnsForNotMembers"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsForNotMembers;" (click)="onRowClick(row)"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-cell-no-hover" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator #paginatorForNotMembers [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>

    </div>
  </div>

</div>
