ul {
  list-style-type: none;
  margin: 6px;
  padding: 0;
  overflow: hidden;
  background-color: #FF4B2B;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.164), 
			0 6px 6px rgba(0,0,0,0.164);
  height: 6%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 20px 18px;
  text-decoration: none;
  font-size: 16px;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #04AA6D;
  transform: scale(0.95);
}
