
  <h3>Aggiungi parrocchiano</h3>

    <form [formGroup]="addParishionerForm" (ngSubmit)="onSubmit()">

      <div fxLayout="column" fxLayoutGap="16px">
        <div fxLayout="row" fxLayoutGap="16px">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Name" formControlName="name">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Surname" formControlName="surname">
            </mat-form-field>
          </p>
        </div>

        <div fxLayout="row" fxLayoutGap="16px">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Phone number" formControlName="phoneNumber">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Secondo numero" formControlName="secondPhone">
            </mat-form-field>
          </p>

        </div>
        <div fxLayout="row" fxLayoutGap="16px">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Allergie/patologie" formControlName="allergiePatologie">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Taglia maglietta" formControlName="tagliaMaglietta">
            </mat-form-field>
          </p>
        </div>

        <div fxLayout="row" fxLayoutGap="16px">

          <mat-form-field>
            <mat-label>Incontri</mat-label>
            <mat-select formControlName="partecipations" multiple>
                <mat-option *ngFor="let meeting of meetings" [value]="meeting" (onSelectionChange)="onSelectionChangeMeetings($event)">{{meeting.meetingName}}, {{meeting.date | date: 'dd-MM-yyyy HH:mm'}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Gruppi</mat-label>
            <mat-select formControlName="memberships" multiple>
              <mat-option *ngFor="let group of groups" [value]="group" (onSelectionChange)="onSelectionChangeGroups($event)">{{group.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          
        </div>


        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Note" formControlName="note">
          </mat-form-field>
        </p>


        <mat-form-field>
          <input type="date" matInput formControlName="dataNascita" placeholder="Data nascita">
        </mat-form-field>

        <button mat-raised-button type="submit">Aggiungi parrocchiano</button>
      </div>

    </form>

