
  <h3>Aggiungi parrocchiano</h3>

    <form [formGroup]="addParishionerForm" (ngSubmit)="onSubmit()">

      <div fxLayout="column" fxLayoutGap="32px">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Nome" formControlName="name">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Cognome" formControlName="surname">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Numero di telefono" formControlName="phoneNumber">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Note" formControlName="note">
          </mat-form-field>
        </p>
        <button mat-raised-button type="submit">Aggiungi parrocchiano</button>
      </div>


    </form>

