<form [formGroup]="membershipForm">
  <mat-form-field class="example-full-width">
    <mat-label>Gruppo*</mat-label>
    <input type="text" matInput formControlName="groupName" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let group of filteredGroups | async" [value]="writeResult(group)">
          {{group.name}}
        </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-raised-button type="submit" (click)="onSubmit()">Aggiungi un gruppo all'incontro</button>
</form>