<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1>REGISTER</h1>
    <br>
    <div fxLayout="column" fxLayoutGap="32px">

      <mat-form-field>
        <input type="text" matInput placeholder="Username" formControlName="username">
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="Password" formControlName="password">
      </mat-form-field>

      <h4 fxLayoutAlign="center">Seleziona un ruolo:</h4>

      <div >
        <mat-radio-group aria-label="Select a role" formControlName="role" fxLayout="row" fxLayoutAlign="space-around center" >
          <mat-radio-button value="admin">Admin</mat-radio-button>
          <mat-radio-button value="baseuser">Other</mat-radio-button>
        </mat-radio-group>
      </div>
      <button type="submit">Register</button>
    </div>
  </form>

</div>

