<div fxLayout="column" fxLayoutGap="4px">
    <h2 class="title"> Qr code</h2>

    <div id="container" fxLayoutAlign="center">
      <ngx-kjua #qrRenderer
                [text]="this.value.toString()"
                [renderAsync]="false"
                [render]="'svg'"
                [crisp]="true"
                [minVersion]="1"
                [ecLevel]="'H'"
                [size]="400"
                [ratio]="undefined"
                [fill]="'#333'"
                [back]="'#fff'"
                [rounded]="100"
                [quiet]="1"
                [mode]="'plain'"
                [mSize]="30"
                [mPosX]="50"
                [mPosY]="50"
                [label]="'label text'"
                [fontname]="'sans-serif'"
                [fontcolor]="'#ff9818'"
                [image]="undefined"
                [cssClass]="'image-auto'"
      ></ngx-kjua>
    </div>
</div>
